# Getting Started with SQLAlchemy

## PostgreSQL Setup

Let's setup PostgreSQL and a `labs_sql` database. We'll also define a password for the `postgres` user.

In [ ]:
!sudo apt install postgresql
!sudo service postgresql start
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS labs_sql;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE labs_sql;'

## Connection Creation

Using SQLALchemy, create an engine to connect to the `labs_sql` database of the `localhost` server, with user `postgres` and password `postgres`. Enable debug outputs to be able to observe the SQL produced by the SQLAlchemy library.

In [ ]:
# Your code here

Then test your connection with the following request:

```python
from sqlalchemy import text

text("SELECT 'Hello world!'")
```

In [ ]:
# Your code here

### Solution

In [ ]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:postgres@localhost/labs_sql",
    echo=True)

In [ ]:
from sqlalchemy import text


with engine.connect() as conn:
  result = conn.execute(text("SELECT 'Hello world!'"))
  print(result.all())


print("*" * 50)


with engine.begin() as conn:
  result = conn.execute(text("SELECT 'Hello world!'"))
  print(result.all())

## SQLAlchemy Core Usage

### Table Creation

Create two tables with the following attributes:

- Table `members` :
    - `id`, integer primary key
    - `name`, string with maximal size 100
- Table `addresses` :
    - `id`, integer primary key
    - `street`, string
    - `city`, string
    - `zip_code`, string
    - `country`, string

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import Column, Integer, MetaData, String, Table


metadata_obj = MetaData()

members_table = Table(
    "members",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(100), nullable=False))

addresses_table = Table(
    "addresses",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("street", String, nullable=False),
    Column("city", String, nullable=False),
    Column("zip_code", String, nullable=False),
    Column("country", String, nullable=False))

metadata_obj.drop_all(engine)
metadata_obj.create_all(engine)

### Adding a Relationship Between Two Tables

Let's now add a foreign key `id_member` to the `addresses` table.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import Column, ForeignKey, Integer, MetaData, String, Table


metadata_obj = MetaData()

members_table = Table(
    "members",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(100), nullable=False))

addresses_table = Table(
    "addresses",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("street", String, nullable=False),
    Column("city", String, nullable=False),
    Column("zip_code", String, nullable=False),
    Column("country", String, nullable=False),
    Column("id_member", ForeignKey("members.id"), nullable=False))

metadata_obj.drop_all(engine)
metadata_obj.create_all(engine)

### Data Insertion

Use an `insert` instruction as shown in [this tutorial](https://docs.sqlalchemy.org/en/20/tutorial/data_insert.html#using-insert-statements) to insert values in the tables we just created.

Insert 3 members:
- the first should have 2 addresses in France
- the second should have 1 address in France
- the third should have addresses only in countries other than France

The insertion of addresses will require members' `id`s. You can proceed as detailed in [this section](https://docs.sqlalchemy.org/en/20/tutorial/data_insert.html#insert-usually-generates-the-values-clause-automatically) of the tutorial.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import bindparam, insert, select

metadata_obj.drop_all(engine)
metadata_obj.create_all(engine)

with engine.begin() as conn:
  conn.execute(
      insert(members_table),
      [dict(name="Jean Dupont"),
       dict(name="John Doe"),
       dict(name="Sherlock Holmes")])

  scalar_subq = (
      select(members_table.c.id)
      .where(members_table.c.name == bindparam("name"))
      .scalar_subquery()
  )

  conn.execute(
      insert(addresses_table).values(id_member=scalar_subq),
      [
          dict(name="Jean Dupont",
               street="1 rue Georges Clemenceau",
               city="Nantes",
               zip_code="44000",
               country="France"),
          dict(name="Jean Dupont",
               street="26 boulevard de la Prairie au Duc",
               city="Nantes",
               zip_code="44200",
               country="France"),
          dict(name="John Doe",
               street="Quai Ferdinand Favre",
               city="Nantes",
               zip_code="44000",
               country="France"),
          dict(name="John Doe",
               street="Dyrehaven",
               city="Klampenborg",
               zip_code="2930",
               country="Danemark"),
          dict(name="Sherlock Holmes",
               street="221b Baker Street",
               city="Londres",
               zip_code="NW1 6XE",
               country="Royaume-Uni"),
      ],
  )

### Data Selection

Retrieve all members who have at least one address in France.

You can use [this part](https://docs.sqlalchemy.org/en/20/tutorial/data_select.html#tutorial-selecting-data) of the SQLAlchemy tutorial to learn about the syntax.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import select

with engine.begin() as conn:
  print(conn.scalars(
      select(members_table.c.name)
      .join(addresses_table)
      .where(addresses_table.c.country == "France")).unique().all())

### Data Update

Using an `update` instruction, update the name of `John Doe` to `Jane Doe`.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import update

with engine.begin() as conn:
  conn.execute(
      update(members_table)
      .where(members_table.c.name == "John Doe")
      .values(name="Jane Doe"))

### Data Deletion

Delete the `Jane Doe` record with a `delete` instruction. To be able to do that, no address should point to the record in its foreign key.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import bindparam, delete


with engine.begin() as conn:
  conn.execute(
      delete(addresses_table)
      .where(addresses_table.c.id_member == select(
          members_table.c.id).where(members_table.c.name == "Jane Doe")))
  conn.execute(
      delete(members_table)
      .where(members_table.c.name == "Jane Doe"))

## SQLAlchemy ORM Usage

### Tables Creation

Create two tables with the following columns:

- Table `Member` :
    - `id`, integer primary key
    - `name`, string with maximal size 100
- Table `Address` :
    - `id`, integer primary key
    - `street`, string
    - `city`, string
    - `zip_code`, string
    - `country`, string
    - `id_member`, foreign key to the `id` field of the `Member` table

You can use the [ORM Tutorial](https://docs.sqlalchemy.org/en/20/tutorial/metadata.html#tutorial-orm-table-metadata) to see how to proceed.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import ForeignKey, String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship


class Base(DeclarativeBase):
    pass


class Member(Base):
    __tablename__ = "members"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(100))


class Address(Base):
    __tablename__ = "addresses"
    id: Mapped[int] = mapped_column(primary_key=True)
    street: Mapped[str]
    city: Mapped[str]
    zip_code: Mapped[str]
    country: Mapped[str]
    id_member = mapped_column(ForeignKey("members.id"))


Base.metadata.create_all(engine)

### Declaring a Relationship Between Two Tables

Follow the [SQLALchemy Tutorial](https://docs.sqlalchemy.org/en/20/orm/relationships.html) to declare a *One To Many* relationship between `Member` and `Address`.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import ForeignKey, String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship


Base.metadata.drop_all(engine)


class Base(DeclarativeBase):
    pass


class Member(Base):
    __tablename__ = "members"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(100))
    addresses: Mapped[list["Address"]] = relationship(back_populates="member", cascade="all, delete-orphan")


class Address(Base):
    __tablename__ = "addresses"
    id: Mapped[int] = mapped_column(primary_key=True)
    street: Mapped[str]
    city: Mapped[str]
    zip_code: Mapped[str]
    country: Mapped[str]
    id_member = mapped_column(ForeignKey("members.id"))
    member: Mapped[Member] = relationship(back_populates="addresses")


Base.metadata.create_all(engine)

### Data Insertion

Use SQLAlchemy as detailed in [this tutorial](https://docs.sqlalchemy.org/en/20/tutorial/orm_data_manipulation.html#inserting-rows-using-the-orm-unit-of-work-pattern) to insert data in the tables we just created.

One member and one address will do. We will then execute the solution cell to insert some more data to play with for the rest of the notebook.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy.orm import Session

with Session(engine) as session:
  address1a = Address(street="1 rue Georges Clemenceau", city="Nantes", zip_code="44000", country="France")
  address1b = Address(street="26 boulevard de la Prairie au Duc", city="Nantes", zip_code="44200", country="France")
  address2a = Address(street="Quai Ferdinand Favre", city="Nantes", zip_code="44000", country="France")
  address2b = Address(street="Dyrehaven", city="Klampenborg", zip_code="2930", country="Denmark")
  address3 = Address(street="221b Baker Street", city="Londres", zip_code="NW1 6XE", country="United Kingdom")
  member1 = Member(name="Jean Dupont", addresses=[address1a, address1b])
  member2 = Member(name="John Doe", addresses=[address2a, address2b])
  member3 = Member(name="Sherlock Holmes", addresses=[address3])
  session.add_all([member1, member2, member3])
  session.commit()

### Data Selection

Get all the members that have at least one address in France. You can visit the [ORM Select Tutorial](https://docs.sqlalchemy.org/en/20/orm/queryguide/select.html) to get help.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import select
from sqlalchemy.orm import Session

with Session(engine) as session:
  result = session.scalars(select(Member).join(Member.addresses).filter(Address.country == "France")).unique().all()
  session.commit()
  for member in result:
    print(member.name)

### Updating Data

Retrieve the member `John Doe` with a select statement and change his name to `Jane Doe`. You can get help from [this part](https://docs.sqlalchemy.org/en/20/tutorial/orm_data_manipulation.html#updating-orm-objects-using-the-unit-of-work-pattern) of the tutorial.

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import select
from sqlalchemy.orm import Session

with Session(engine) as session:
  john_doe = session.execute(select(Member).filter_by(name="John Doe")).scalar_one()
  john_doe.name = "Jane Doe"
  session.commit()

### Data Deletion

Delete the `Jane Doe` user (you can get help from [this part](https://docs.sqlalchemy.org/en/20/tutorial/orm_data_manipulation.html#deleting-orm-objects-using-the-unit-of-work-pattern) of the tutorial).

What do you notice about `Jane Doe`'s two addresses?

In [ ]:
# Your code here

#### Solution

In [ ]:
from sqlalchemy import select
from sqlalchemy.orm import Session

with Session(engine) as session:
  jane_doe = session.execute(select(Member).filter_by(name="Jane Doe")).scalar_one()
  session.delete(jane_doe)
  session.commit()